@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;400;700;900&display=swap');
:root{
    --color1: #30D5C8;
    --color2: #39054D;
    --color3: #DB004C;
    --color4: #F56E00;
    --color5: #FFCA01;
    --color-gris-claro: #CCCCCC;
    --color-gris-oscuro: #444444;
    --color-blanco: #FFFFFF;
    --color-negro: #000000;
}

body{
    font-family: 'Poppins', sans-serif;
}

h1{
    font-weight: 900;
    font-size: 48px;
    letter-spacing: -3px;
}

h2{
    font-weight: 200;
    font-size: 40px;
    letter-spacing: -2px;
    text-transform: lowercase;/* minúscula */
}

h3{
    font-weight: 700;
    font-size: 20px;
    text-transform: uppercase;/* mayúscula */
}


#nosotros{
    background-color: var(--color2);
    color: var(--color-blanco);
}
#valores{
    background-color: var(--color5);
    text-align: center;
}
#valores i{
    font-size: 32px;
    color: var(--color-blanco);
}

#empresa{
    background-color: var(--color-negro);
    color: var(--color-gris-claro);
}

#main-footer{
    background-color: var(--color-gris-oscuro);
    color: var(--color-gris-claro);
    padding: 45px 0;
}

.padded{
    padding-top: 90px;
    padding-bottom: 90px;
}
.carousel-indicators [data-bs-target]{
    height: 20px;
    width: 20px;
    border-radius: 50%;
}

/********************************/
#noticias .container{
    position: relative;
}
#btnBlancoNegro{
    position: absolute;
    right: 0;
    cursor: pointer;
}
.img-fluid{
    width: 30%; 
    height: auto;
    border-radius: 100%;
}
#colaboradores .col{
    border: solid red;
    margin: 23px;
    border-radius: 7%;
    
}
.img-fluir{
    vertical-align: middle;
    border-style: none;
    
}

#Reloj i{
    font-size: 50px;
    color:#F56E00;
}

